<app-navbar> </app-navbar>

<div class="container-post">
  <div class="search-add">
    <input
      #searchBox
      type="text"
      id="searchBox"
      placeholder="Search Post"
      class="form-control"
      (input)="getPost('1', pageSize, searchBox.value)"
    />

    <button class="btn btn-primary" routerLink="/new-post">ADD NEW POST</button>
  </div>

  <div *ngIf="isFetching">
    <img src="./assets/loading-gif.gif" alt="" />
  </div>

  <div class="box-post" *ngFor="let post of posts">
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>

    <span
      class="comment-button"
      routerLink="/post/{{ post.id }}"
      style="font-style: italic"
      >View Comments
    </span>
  </div>

  <h1 *ngIf="posts.length == 0 && !isFetching" class="no-user-text">No posts found</h1>

  <div class="paginator">
    <mat-paginator
      [length]="pageTotal"
      [pageSize]="pageSize"
      [pageSizeOptions]="[2, 5, 10, 25, 100]"
      aria-label="Select page"
      style="background-color: transparent"
    >
    </mat-paginator>
  </div>
</div>

<app-footer></app-footer>
